<main>
    <div class="not-found-container">
        <h1>404</h1>
        <h2>Page Not Found</h2>
        {{#each errors}}
        <p>{{this}} <a href="/">Home Page.</a></p>
        {{/each}}
    </div>
</main>